<!DOCTYPE html>
<html lang="en">
<head>
	<title>City Map</title>
	<style>
		ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

	</style>
</head>
<body>
	<ul>
		<li><a href="/">Update</a></li>
		<li><a href="/user" target = "_blank">Make Queries</a></li>
	</ul>
	

	<canvas id="map" width="1100" height="500" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
var c = document.getElementById("map");
var ctx = c.getContext("2d");
ctx.fillStyle = "white"
ctx.fillRect(0, 0, map.width, map.height);
var color_array = ["black","black","green","green","yellow","yellow","orange","orange","red"];
//var x_co = [100,225,350,450,700,225,450,575,225,350,450];
//var y_co = [275,150,150,150,275,275,275,275,400,400,400];
var x_co = [100,225,325,425,550,250,350,450,225,325,425];
var y_co = [175,50,50,50,175,175,175,175,300,300,300];

ctx.font = "30px Arial"
ctx.fillStyle = "red"
ctx.fillRect(650, 50, 70 , 30);
ctx.fillText("Congestion",730,75);
ctx.fillStyle = "orange"
ctx.fillRect(650, 100, 70 , 30);
ctx.fillText("High Traffic",730,125);
ctx.fillStyle = "yellow"
ctx.fillRect(650, 150, 70 , 30);
ctx.fillText("Moderate Traffic",730,175);
ctx.fillStyle = "green"
ctx.fillRect(650, 200, 70 , 30);
ctx.fillText("Free",730,225);

/*ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.lineWidth = 5;
ctx.strokeStyle = "grey"
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[5], y_co[5]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[8], y_co[8]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[8], y_co[8]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[2], y_co[2]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[2], y_co[2]);
ctx.lineTo(x_co[3], y_co[3]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[3], y_co[3]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[6], y_co[6]);
ctx.lineTo(x_co[7], y_co[7]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[7], y_co[7]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[8], y_co[8]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.lineWidth = 5;
ctx.stroke();



ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[7], y_co[7]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[3], y_co[3]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.lineWidth = 5;
ctx.stroke();*/

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.strokeStyle = color_array[{{(intersections[0]+intersections[1])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[5], y_co[5]);
ctx.strokeStyle = color_array[{{(intersections[0]+intersections[5])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[8], y_co[8]);
ctx.strokeStyle = color_array[{{(intersections[0]+intersections[8])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[1])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[8], y_co[8]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[8])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[2], y_co[2]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.strokeStyle = color_array[{{(intersections[2]+intersections[1])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[2], y_co[2]);
ctx.lineTo(x_co[3], y_co[3]);
ctx.strokeStyle = color_array[{{(intersections[2]+intersections[3])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[3], y_co[3]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.strokeStyle = color_array[{{(intersections[3]+intersections[4])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[6])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[6], y_co[6]);
ctx.lineTo(x_co[7], y_co[7]);
ctx.strokeStyle = color_array[{{(intersections[6]+intersections[7])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[7], y_co[7]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.strokeStyle = color_array[{{(intersections[7]+intersections[4])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[9])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[8], y_co[8]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.strokeStyle = color_array[{{(intersections[8]+intersections[9])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[9])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[6])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[7], y_co[7]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[7])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[4])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[3], y_co[3]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.strokeStyle = color_array[{{(intersections[3]+intersections[6])/2}}];
ctx.lineWidth = 5;
ctx.stroke();




ctx.beginPath();
ctx.arc(x_co[0], y_co[0], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[0]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[1], y_co[1], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[1]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[2], y_co[2], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[2]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[3], y_co[3], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[3]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[4], y_co[4], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[4]}}];
ctx.fill();

ctx.beginPath();
ctx.arc(x_co[5], y_co[5], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[5]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[6], y_co[6], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[6]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[7], y_co[7], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[7]}}];
ctx.fill();

ctx.beginPath();
ctx.arc(x_co[8], y_co[8], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[8]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[9], y_co[9], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[9]}}];
ctx.fill();
ctx.beginPath();
ctx.arc(x_co[10], y_co[10], 10, 0, 2 * Math.PI);
ctx.stroke();
ctx.fillStyle = color_array[{{intersections[10]}}];
ctx.fill();

/*ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.strokeStyle = color_array[{{(intersections[0]+intersections[1])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[5], y_co[5]);
ctx.strokeStyle = color_array[{{(intersections[0]+intersections[5])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[0], y_co[0]);
ctx.lineTo(x_co[8], y_co[8]);
ctx.strokeStyle = color_array[{{(intersections[0]+intersections[8])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[1])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[8], y_co[8]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[8])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[2], y_co[2]);
ctx.lineTo(x_co[1], y_co[1]);
ctx.strokeStyle = color_array[{{(intersections[2]+intersections[1])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[2], y_co[2]);
ctx.lineTo(x_co[3], y_co[3]);
ctx.strokeStyle = color_array[{{(intersections[2]+intersections[3])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[3], y_co[3]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.strokeStyle = color_array[{{(intersections[3]+intersections[4])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[6])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[6], y_co[6]);
ctx.lineTo(x_co[7], y_co[7]);
ctx.strokeStyle = color_array[{{(intersections[6]+intersections[7])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[7], y_co[7]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.strokeStyle = color_array[{{(intersections[7]+intersections[4])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[5], y_co[5]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.strokeStyle = color_array[{{(intersections[5]+intersections[9])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[8], y_co[8]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.strokeStyle = color_array[{{(intersections[8]+intersections[9])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[9], y_co[9]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[9])/2}}];
ctx.lineWidth = 5;
ctx.stroke();



ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[6])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[7], y_co[7]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[7])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[10], y_co[10]);
ctx.lineTo(x_co[4], y_co[4]);
ctx.strokeStyle = color_array[{{(intersections[10]+intersections[4])/2}}];
ctx.lineWidth = 5;
ctx.stroke();

ctx.beginPath();
ctx.moveTo(x_co[3], y_co[3]);
ctx.lineTo(x_co[6], y_co[6]);
ctx.strokeStyle = color_array[{{(intersections[3]+intersections[6])/2}}];
ctx.lineWidth = 5;
ctx.stroke();
*/

ctx.font = "20px Arial"

for(var i = 0;i<x_co.length;i++)
{
  ctx.fillStyle = "white"
  ctx.fillRect(x_co[i]-10, y_co[i]-30,20,20);
  ctx.fillStyle = "Black"
  ctx.fillText(i,x_co[i]-10,y_co[i]-10);
}

</script>
</body>
</html>